<div>
    <mat-toolbar color="primary">
        <a routerLink="/home"><img src="../assets/img/logo.png"></a>
        <div class="spacer"></div>
        <a mat-button routerLink="/add"><span>Ajouter</span></a>
        <a mat-button (click)="getRendu();"><span>Rendus</span></a>
        <a mat-button (click)="getNonRendu();"><span>Non rendus</span></a>
        <a mat-button (click)="getAll();"><span>Tous</span></a>
        <a mat-raised-button color="accent" (click)="login();"><span *ngIf="!connected(); else loggedOut">Connexion</span></a>
        <ng-template #loggedOut>
            <span>Déconnexion</span>
        </ng-template>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>

<!-- if the toggle button is on then show <app-modal> -->
<app-modal *ngIf="showModal"></app-modal>